<section class="about-content">
    <title>about</title>
    <p>This site was created by Abhijeet Sawant. It uses data from mapbox.com and openweathermap.org.</p>
    <img src="/img/me.jpg" alt="" srcset="">
</section>