<section>
    <div class="form-box">
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="p1"></p>
        <p id="p2"></p>
    </div>
</section>